@model TheRecipeBox.Models.Recipe
@{
    ViewData["Title"] = "AddRecipe";
}

<h1>AddRecipe</h1>
<form asp-action="AddRecipe" method="post">
    <div class="form-group">
        <label asp-for="Name">Recipe Name:</label>
        <input class="form-control col-6" name="name" asp-for="Name" /><br />
    </div>
    <div class="form-group">
        <label asp-for="Servings">Serves:</label>
        <input class="form-control col-6" name="servings" asp-for="Servings" /><br />
    </div>
    <label>Ingredients:</label>
    <div id="ingredientInputList">
        <div class="form-group">
            <input class="form-control col-2" name="ingredients[0].Quantity" asp-for="Ingredients[0].Quantity" placeholder="Quantity" />
            <input class="form-control col-2" name="ingredients[0].Measure" asp-for="Ingredients[0].Measure" placeholder="Measure" />
            <input class="form-control col-2" name="ingredients[0].IngredientName" asp-for="Ingredients[0].IngredientName" placeholder="IngredientName" /><br />
        </div>
    </div>
    <span style="color: blue; cursor:pointer" onclick=addFields()>click to add another ingredient</span>
    <br />
    <br />
    <div class="form-group">
        <label asp-for="Instructions">Instructions:</label>
        <textarea class="form-control col-6" asp-for="Instructions"></textarea><br />
    </div>
    <div class="form-group">
        <button asp-controller="Recipe" asp-action="AddRecipe" class="btn btn-default" type="submit">Add Recipe</button>
    </div>
</form>
