
@{
    ViewData["Title"] = "ExternalLinks";
}

<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>External Links</title>
</head>
<body>
    <h1>Useful sites!</h1>

    <div>
        <ul>
            <li> <a href="https://www.allrecipes.com/" target="_blank">allrecipes</a></li>
            <li> <a href="https://www.curiouscuisiniere.com/kitchen-equivalents-conversions/" target="_blank">Conversion Chart</a></li>
            <li>  <a href="http://www.potlucky.site/" target="_blank">Potlucky</a></li>
        </ul>
    </div>
</body>
</html>