@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Recipe Box!</h1>
    <br />
    <h2>This is a place to search for new recipes, look up old favorites, and share your creations with others.</h2>
    <h3>Best wishes on your culinary creations.</h3>
</div>
